body {
  margin: 0;
}

.content {
  width: 90%;
  margin: auto;
  padding: 3rem 0;
  color: #fff;

  .text-block {
    @media only screen and (min-width: 600px) {
      width: 70%;
    }
  }

  @media only screen and (min-width: 600px) {
    width: 80%;
  }
}